<div class="col-md-12">


    <div class="container">
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <a class="navbar-brand" [routerLink]="['/inicio']">Votaciones</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="identity">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" *ngIf="identity.role!='ROLE_ADMIN'">
                        <a class="nav-link" [routerLink]="['/inicio']">Realizar voto</a>
                    </li>
                    <li class="nav-item" *ngIf="identity.role=='ROLE_ADMIN'">
                        <a class="nav-link" [routerLink]="['/inicio']">Listas y candidatos</a>
                    </li>
                    <li class="nav-item" *ngIf="identity.role!='ROLE_ADMIN'">
                        <a class="nav-link" [routerLink]="['/certificate']">Certificado</a>
                    </li>

                    <li class="nav-item" *ngIf="identity.role=='ROLE_ADMIN'">
                        <a class="nav-link" [routerLink]="['/list']">Agregar lista</a>
                    </li>
                    <li class="nav-item" *ngIf="identity.role=='ROLE_ADMIN'">
                        <a class="nav-link" [routerLink]="['/registerCandidates']">Agregar canditato</a>
                    </li>
                    <li class="nav-item" *ngIf="identity.role=='ROLE_ADMIN'">
                        <a class="nav-link" [routerLink]="['/votes']">Ver votos </a>
                    </li>

                </ul>


                <ul class="navbar-nav mr-rigth">

                    <div class="avatar_mask">
                        <img src="{{url + 'image/' + identity.image}}" />
                    </div>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{identity.name + " " + identity.lastname}}
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item pointer" (click)="logout()">Cerrar sesion</a>
                        </div>
                    </li>

                    <!--     <li class="nav-item">
                        <button class="btn btn-warning my-2 my-sm-0" type="submit" (click)="logout()">Cerrar sesion</button>
                    </li>-->
                </ul>

            </div>
        </nav>


    </div>

    <router-outlet></router-outlet>
</div>